.container
{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:13vw 5vw;
    color: white;
    background-image: url('../../assets/hero.png');
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 9;
    overflow: hidden;
}
.content
{
    position: relative;
    z-index: 99;
    overflow: hidden;
}
.container .content h1
{
    font-size:4.5vw;
}
.container .content p
{
    font-size:1.2vw;
    text-align:center;
    padding: 1.5vw;
}
.container .content button 
{
    font-size:1.3vw;
    background-color: white;
    padding: 1vw 2vw;
    border-radius: 100px;
    border: 1px solid;
}
.container .content button img
{
    height:10px;
    margin:0 .3vw;
}
.container .overly
{
    height: 100vh;
    width: 100%;
    background-color: rgba(8, 0, 58, 0.7);
    position:absolute;
    top:0;
    z-index: 10;
}